.recorder-container {
    max-width: 300px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.sound-wave {
    width: 100%;
}

.button-container {
    margin-top: 10px;
}

.clear-button, .start-button, .stop-button {
    color: #fff;
    background-color: #111;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}

.audio-container {
    margin-top: 20px;
}

.audio-element {
    margin-top: 20px;
    width: 100%;
}
