/* ResultsStyles.css */

.assess-container {
  margin: 8rem 6rem;
  padding: 2rem;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); /* subtle shadow effect */
}

.assess-container h1 {
  padding: 1rem;
  font-size: 2rem;
  color: #333; /* adjust heading color */
}

.assess-container p {
  padding-bottom: 2rem;
  line-height: 1.5;
  font-size: 1rem;
  color: #666; /* adjust text color */
}

.analysis,
.result {
  margin-bottom: 1.5rem;
}

.analysis p,
.result p {
  display: inline-block;
  margin-right: 1rem;
  font-weight: bold; /* emphasize prediction and confidence */
}

.button-container {
  margin-top: 10px;
  display: flex;
  justify-content: center; /* center buttons horizontally */
}

.start-button {
    color: #fff;
    background-color: #111;
    border: none;
    border-radius: 10px;
    padding: 15px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.2s ease-in-out; /* smooth hover effect */
}

.start-button:hover {
  background-color: #0067cc; /* darken button on hover */
}
